Package: zcash-desktop-gui-wallet
Version: 1.0.0-rc1
Section: misc
Priority: low
Architecture: all
Description: Zcash Desktop GUI Wallet
Maintainer: github.com/zcash-community
Depends: default-jdk, zcash
