[Desktop Entry]
Version=0.0.1
Name=Zclassic Wallet
Comment=Zclassic Desktop GUI Wallet (full node)
GenericName=Zclassic Wallet
Keywords=Zclassic;cryptocurrency;ZCL;
Exec=zclassic-desktop-gui-wallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/zclassic-gui-wallet/ZCL-icon.png
Categories=GNOME;Application;
StartupNotify=true
