[Desktop Entry]
Version=1.0
Name=Zclassic Wallet
Comment=Zclassic Desktop GUI Wallet (full node)
GenericName=Zclassic Wallet
Keywords=Zclassic;Crypto-currency;ZCL;
Exec=zencash-desktop-gui-wallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/zencash-gui-wallet/ZEN-icon.png
Categories=GNOME;Application;
StartupNotify=true
